{{- if .Values.configMaps }}
{{- range .Values.configMaps }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{$.Release.Name}}-protodrive-{{ .index }}
data:
{{ range .files }}
  {{ .key }}: |
{{ .content | indent 4 }}
{{ end }}
{{- end }}
{{- end }}
