apiVersion: v1
kind: Pod
metadata:
  name: {{.Release.Name}}-grpcmockserver
  labels:
    app: {{.Release.Name}}-grpcmockserver
spec:
  restartPolicy: Never 
  containers: 
  - name: grpcmockserver
    image: {{ .Values.dockerImage | default "cezarypiatek/grpc-mock-server" }}
    imagePullPolicy: IfNotPresent
    ports:
    - name: wiremockport
      containerPort: 9095
    - name: grpcport
      containerPort: 5033
    readinessProbe:
      tcpSocket:
        port: 9095
      initialDelaySeconds: 15
      periodSeconds: 10
      timeoutSeconds: 10
    volumeMounts:
{{- range $configMap := .Values.configMaps }}
{{- range $configMap.files }}
      - name: protodrive-{{ $configMap.index }}
        mountPath: {{ printf "/protos/%s" .path }}
        subPath: {{ .key }}
{{- end }}
{{- end }}
  volumes:
{{- range .Values.configMaps }}
    - name: protodrive-{{ .index }}
      configMap:
        name: {{$.Release.Name}}-protodrive-{{ .index }}
{{- end }}
